book.aux
book.bcf
book.idx
book.log
book.maf
book.mtc
book.mtc0
book.mtc1
book.mtc2
book.mtc3
book.mtc4
book.mtc5
book.mtc6
book.mtc7
book.mtc8
book.out
book.pdf
book.ptb
book.run.xml
book.tex
book.toc
fp/EquationalReasoning.tex
fp/eerste_stappen.tex
fp/functies_en_type_classes.tex
fp/io.tex
fp/laziness.tex
fp/monads.tex
fp/nuttigefuncties.tex
fp/parsers.tex
fp/symbols.tex
